<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryName</key>
		<string>Dinner</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Internet</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Gift</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Party</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Cafe</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Taxi</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Medicine</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Personal</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Baby</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>New item</key>
		<dict>
			<key>categoryName</key>
			<string>Fuel</string>
			<key>categoryIconName</key>
			<string></string>
			<key>categoryIncomeType</key>
			<false/>
		</dict>
		<key>categoryName</key>
		<string>Auto</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Transport</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<false/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>ScholarShip</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<true/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Salary</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<true/>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>Trade</string>
		<key>categoryIconName</key>
		<string></string>
		<key>categoryIncomeType</key>
		<true/>
	</dict>
</array>
</plist>
