<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cash</string>
	<string>credit card</string>
	<string>debit card</string>
	<string>property</string>
	<string>investments</string>
	<string>assets</string>
	<string>e-money</string>
	<string>liabilities</string>
</array>
</plist>
