<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AUD</string>
	<string>BGN</string>
	<string>BRL</string>
	<string>CAD</string>
	<string>CHF</string>
	<string>CNY</string>
	<string>CZK</string>
	<string>DKK</string>
	<string>EUR</string>
	<string>GBP</string>
	<string>HKD</string>
	<string>HRK</string>
	<string>HUF</string>
	<string>IDR</string>
	<string>ILS</string>
	<string>INR</string>
	<string>JPY</string>
	<string>KRW</string>
	<string>LTL</string>
	<string>LVL</string>
	<string>MXN</string>
	<string>MYR</string>
	<string>NOK</string>
	<string>NZD</string>
	<string>PHP</string>
	<string>PLN</string>
	<string>RON</string>
	<string>RUB</string>
	<string>SEK</string>
	<string>SGD</string>
	<string>THB</string>
	<string>TRY</string>
	<string>USD</string>
	<string>ZAR</string>
</array>
</plist>
